#block-spotdeals-minimal-spotdealspopularsearches,
.block-spotdeals-search-insights-most-searched {
  margin: 0;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
}

#block-spotdeals-minimal-spotdealspopularsearches .block-content,
.block-spotdeals-search-insights-most-searched .block-content {
  margin: 0;
  padding: 0;
}

#block-spotdeals-minimal-spotdealspopularsearches .spotdeals-popular-searches,
.block-spotdeals-search-insights-most-searched .spotdeals-popular-searches {
  margin: 0;
  padding: 0;
  list-style: none;
}

#block-spotdeals-minimal-spotdealspopularsearches .spotdeals-popular-searches li:last-child,
.block-spotdeals-search-insights-most-searched .spotdeals-popular-searches li:last-child {
  margin-bottom: 0;
}

#block-spotdeals-minimal-spotdealspopularsearches .spotdeals-popular-searches a,
.block-spotdeals-search-insights-most-searched .spotdeals-popular-searches a {
  display: inline;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 1rem;
  line-height: 1.45;
  font-weight: 400;
  text-decoration: none;
}

#block-spotdeals-minimal-spotdealspopularsearches .spotdeals-popular-searches a:hover,
#block-spotdeals-minimal-spotdealspopularsearches .spotdeals-popular-searches a:focus,
.block-spotdeals-search-insights-most-searched .spotdeals-popular-searches a:hover,
.block-spotdeals-search-insights-most-searched .spotdeals-popular-searches a:focus {
  text-decoration: underline;
}

#block-spotdeals-minimal-spotdealspopularsearches ul,
.block-spotdeals-search-insights-most-searched ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
